.home {
    padding: 40px 0 40px 0;
    position: relative;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.07;
        background-image: url('../../../public/images/HomePage/patern.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    &__content {
        position: relative;
        z-index: 1;
        text-align: center;

    }

    &__logo {
        margin: 0 auto 50px auto;
        // margin-bottom: 50px;
        max-width: 1000px;
    }

    &__text {
        margin-bottom: 52px;
    }

    &__button {
        margin-bottom: 40px;
        font-size: 24px;
        padding: 20px 30px;
    }

    &__social {}
}

.text-home {
    font-size: 27px;
    font-weight: 300;

    &__title {
        margin-bottom: 15px;
    }

    &__subtitle {
        color: #ED696B;

    }
}

.social-home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__column {
        display: flex;
        align-items: center;

        & img {
            cursor: pointer;
            margin-right: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }
}
//<>=======================================================================================================


